body {
	font-family: "Arial", Sans-serif;
	background-color: #FFCC99;
 	text-align: center;
}

h1 {
	color: white;
	text-shadow: 0px 2px 3px #555;
}


#convert-time {
	background-color: darkorange;
    	border: none;
    	color: white;
    	padding: 15px 37px;
    	text-align: center;
    	text-decoration: none;
    	display: inline-block;
    	font-size: 16px;
    	margin: 12px 2px;
    	cursor: pointer;
}

#switch-time {
	background-color: darkorange;
    	border: none;
    	color: white;
    	padding: 15px 10px;
    	text-align: center;
    	text-decoration: none;
    	display: inline-block;
    	font-size: 16px;
    	margin: 12px 2px;
    	cursor: pointer;
} 

.input-area {
	padding: 10px;
	border: 2px solid darkorange;
 	border-radius: 8px;
}

.output-area {
	padding: 10px;
	border: 2px solid darkorange;
    	border-radius: 8px;
}

#input-time {
	padding: 3px;
	font-size: 16px;
	margin: 5px;
}

#input-date {
	padding: 3px;
	font-size: 16px;
}

#zone-time {
	padding: 6.5px;
	font-size: 16px;
	
}

#output-time {
	padding: 3px;
	font-size: 16px;
}

